/* Style pour la barre d'accueil */
.navbar {
    background-color: #f1f1f1;
    padding: 10px;
    display: flex;
    align-items: center;
}

.navbar img {
    max-width: 50px;
    margin-left: 10px;
    /* Pour aligner le logo à droite */
    margin-right: auto;
}

.navbar a {
    margin-right: 50px;
    text-decoration: none;
    color: #333;
}

.navbar-links {
    display: flex;
    align-items: center;
    flex: 1;
    /* Pour occuper tout l'espace disponible */
}

/* Style pour la zone de la photo */
.photo {
    text-align: center;
    margin: 20px 0;
}

.photo img {
    max-width: 100%;
    height: auto;
}

/* Style pour le carrousel */
.carousel {
    position: relative;
    overflow: hidden;
}

.carousel-item {
    float: left;
}


.carousel-container ::after {
content:'';
clear: both;
display: table;
}